genai-data-source.json
{
  "name": "Newsletter_Data_Ingress",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 4
            }
          ]
        },
        "feedUrl": "https://rss.app/feeds/e2QjBpEDLPfVUeoI.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        64,
        3120
      ],
      "id": "679857e0-9655-4974-880a-44889f06c888",
      "name": "the_neuron_trigger"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 4
            }
          ]
        },
        "feedUrl": "https://rss.app/feeds/x8T02B3GXYy18pNy.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        64,
        3344
      ],
      "id": "316832e6-3aca-4d21-b741-91683cbe223b",
      "name": "futurepedia_trigger"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 4
            }
          ]
        },
        "feedUrl": "https://rss.app/feeds/3tDyvQwHp8cgL7qs.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        64,
        3568
      ],
      "id": "43d36104-ae83-4697-ab56-f5a5596801a0",
      "name": "superhuman_trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Y4DShElQPyoVHaDg",
          "mode": "list",
          "cachedResultName": "Helper_URL_Fetch"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $node[\"get_identity\"].json.url }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2944,
        1728
      ],
      "id": "a26988a3-9ea7-4b04-b645-97e428bd33b7",
      "name": "scrape_url",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given content fetched from a web page, analyze this content to determine if it is a full piece of content that would be considered relevent to our AI Newsletter which features stories, advancements, and other interesting happenings in the tech and AI space.\n\n- Job postings are not relevant content\n- Content centered around unrelated industries is not relevant\n- Only AI and AI Adjacent content should be considered relevant\n\n---\n{{ $json.data.json.content }}",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        3472,
        1728
      ],
      "id": "4a2aa9f0-1e2e-468f-af74-646a65f340c1",
      "name": "evaluate_content"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3261021f-54d8-4cce-a78a-12e40520d2c1",
              "name": "sourceName",
              "value": "the-neuron",
              "type": "string"
            },
            {
              "id": "a7a3c290-4b8c-46e5-a9e2-d7c9c03d3bee",
              "name": "feedType",
              "value": "newsletter",
              "type": "string"
            },
            {
              "id": "efb8285b-9def-4cef-883f-af6fbdafa0c7",
              "name": "feedUrl",
              "value": "https://www.theneurondaily.com/archive",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        3120
      ],
      "id": "73285f35-6aa8-41da-8bd2-ffa8a968ea42",
      "name": "normalize_neuron"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3261021f-54d8-4cce-a78a-12e40520d2c1",
              "name": "sourceName",
              "value": "futurepedia",
              "type": "string"
            },
            {
              "id": "a7a3c290-4b8c-46e5-a9e2-d7c9c03d3bee",
              "name": "feedType",
              "value": "newsletter",
              "type": "string"
            },
            {
              "id": "efb8285b-9def-4cef-883f-af6fbdafa0c7",
              "name": "feedUrl",
              "value": "https://futurepedia.beehiiv.com/archive",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        3344
      ],
      "id": "a6336a0c-05d8-4783-8649-382224bd6b03",
      "name": "normalize_futurepedia"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3261021f-54d8-4cce-a78a-12e40520d2c1",
              "name": "sourceName",
              "value": "superhuman",
              "type": "string"
            },
            {
              "id": "a7a3c290-4b8c-46e5-a9e2-d7c9c03d3bee",
              "name": "feedType",
              "value": "newsletter",
              "type": "string"
            },
            {
              "id": "efb8285b-9def-4cef-883f-af6fbdafa0c7",
              "name": "feedUrl",
              "value": "https://www.superhuman.ai/archive",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        3568
      ],
      "id": "8e4c046a-25b5-4069-9cfd-13932e4c138d",
      "name": "normalize_superhuman"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 4
            }
          ]
        },
        "feedUrl": "https://rss.app/feeds/Kc554BCmk9PUValj.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        64,
        2912
      ],
      "id": "907ad915-3148-4c69-90e1-fbe73acded56",
      "name": "the_rundown_ai_trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3261021f-54d8-4cce-a78a-12e40520d2c1",
              "name": "sourceName",
              "value": "the-rundown-ai",
              "type": "string"
            },
            {
              "id": "a7a3c290-4b8c-46e5-a9e2-d7c9c03d3bee",
              "name": "feedType",
              "value": "newsletter",
              "type": "string"
            },
            {
              "id": "efb8285b-9def-4cef-883f-af6fbdafa0c7",
              "name": "feedUrl",
              "value": "https://www.therundown.ai/archive",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        2912
      ],
      "id": "b52e8d24-ff08-4f38-a9cf-0ac1e89b9f76",
      "name": "normalize_the_rundown_ai"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 4
            }
          ]
        },
        "feedUrl": "https://rss.beehiiv.com/feeds/22I6c0vJXV.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        64,
        3792
      ],
      "id": "bc64eda0-d317-41e3-9f43-eaad595f4844",
      "name": "taaft_trigger",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3261021f-54d8-4cce-a78a-12e40520d2c1",
              "name": "sourceName",
              "value": "taaft",
              "type": "string"
            },
            {
              "id": "a7a3c290-4b8c-46e5-a9e2-d7c9c03d3bee",
              "name": "feedType",
              "value": "newsletter",
              "type": "string"
            },
            {
              "id": "efb8285b-9def-4cef-883f-af6fbdafa0c7",
              "name": "feedUrl",
              "value": "https://newsletter.theresanaiforthat.com/archive",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        3792
      ],
      "id": "f0d5f85d-2525-4e6b-b61d-eb9428c2aa99",
      "name": "normalize_taaft"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 4
            }
          ]
        },
        "feedUrl": "https://rss.app/feeds/O60XfEFYoxJhYVkS.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        64,
        2688
      ],
      "id": "f76f130c-99b3-48ee-96b6-f5527cbab654",
      "name": "bens_bites_trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3261021f-54d8-4cce-a78a-12e40520d2c1",
              "name": "sourceName",
              "value": "bens-bites",
              "type": "string"
            },
            {
              "id": "a7a3c290-4b8c-46e5-a9e2-d7c9c03d3bee",
              "name": "feedType",
              "value": "newsletter",
              "type": "string"
            },
            {
              "id": "efb8285b-9def-4cef-883f-af6fbdafa0c7",
              "name": "feedUrl",
              "value": "https://bensbites.beehiiv.com/archive",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        2688
      ],
      "id": "8786ee82-054a-45f7-b68b-3f2f81993738",
      "name": "normalize_bens_bites"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "data-ingestion",
        "fileName": "={{ $('get_identity').item.json.uploadFileName + \".md\" }}",
        "binaryData": false,
        "fileContent": "={{ $('scrape_url').item.json.data.json.content }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        4704,
        1568
      ],
      "id": "cf1af97a-c083-4576-abc9-d26f4fad849f",
      "name": "upload_temp_markdown",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "s3": {
          "id": "C389bH9jh7lpoj0B",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "data-ingestion",
        "fileName": "={{ $('get_identity').item.json.uploadFileName + \".html.temp\" }}",
        "binaryData": false,
        "fileContent": "={{ $('scrape_url').item.json.data.rawHtml }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        4704,
        1888
      ],
      "id": "c9930cd2-00af-4127-a793-a8712ea0de54",
      "name": "upload_temp_html",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "s3": {
          "id": "C389bH9jh7lpoj0B",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        2464
      ],
      "id": "113e27af-eb87-47ff-81a4-129e857579e1",
      "name": "google_news_trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/v1.1/AkOariu1C7YyUUMv.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        2464
      ],
      "id": "8149635a-6878-40e4-a789-3f342e44a185",
      "name": "fetch_google_news_feed"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const domainSourceMap = {\n  \"engadget.com\": \"engadget\",\n  \"gizmodo.com\": \"gizmodo\",\n  \"techcrunch.com\": \"techcrunch\",\n  \"theverge.com\": \"the-verge\",\n  \"cnbc.com\": \"cnbc\",\n  \"forbes.com\": \"forbes\",\n  \"tradingview.com\": \"trading-view\",\n  \"economist.com\": \"economist\",\n  \"tomshardware.com\": \"toms-hardware\",\n  \"timesofindia.indiatimes.com\": \"times-of-india\",\n  \"seekingalpha.com\": \"seeking-alpha\",\n  \"fool.com\": \"the-motley-fool\",\n  \"sherwood.news\": \"sherwood-news\",\n  \"theregister.com\": \"the-register\",\n  \"yahoo.com\": \"yahoo\",\n  \"finance.yahoo.com\": \"yahoo-finance\",\n  \"venturebeat.com\": \"venture-beat\",\n  \"gurufocus.com\": \"guru-focus\",\n  \"yourstory.com\": \"your-story\",\n  \"theguardian.com\": \"the-guardian\",\n  \"spectrum.ieee.org\": \"spectrum-ieee\",\n  \"nasdaq.com\": \"nasdaq\",\n  \"euractiv.com\": \"euractiv\",\n  \"fortune.com\": \"fortune\",\n  \"indexbox.io\": \"indexbox\",\n  \"phys.org\": \"phys\",\n  \"reuters.com\": \"reuters\",\n  \"bloomberg.com\": \"bloomberg\",\n  \"ign.com\": \"ign\",\n  \"japantimes.co.jp\": \"japan-times\",\n  \"thehindu.com\": \"the-hindu\",\n  \"ft.com\": \"financial-times\",\n  \"nytimes.com\": \"the-new-york-times\",\n  \"aftermath.site\": \"aftermath\",\n  \"computerworld.com\": \"computer-world\",\n  \"business.inquirer.net\": \"business-inquirer\",\n  \"androidpolice.com\": \"android-police\",\n  \"scmp.com\": \"scmp\",\n  \"azure.microsoft.com\": \"microsoft-azure\",\n  \"benzinga.com\": \"benzinga\"\n}\n\n// Use a regex to extract the hostname.\n// The regex breakdown:\n// ^(?:https?:\\/\\/)?  --> Optionally match the protocol (http:// or https://)\n// (?:www\\.)?         --> Optionally match \"www.\"\n// ([^\\/]+)           --> Capture all characters until the first \"/\" (the hostname)\nconst match = $input.item.json.url.match(/^(?:https?:\\/\\/)?(?:www\\.)?([^\\/]+)/i);\n\nif (!match) {\n  throw new Error(\"Unable to regex match url\")\n}\n\nconst domain = match[1];\nlet sourceName = domainSourceMap[domain];\n\nif (!sourceName) {\n  // Fallback: generate a friendly name by removing any leading \"www.\", \n  // then removing the TLD (the last dot segment),\n  // and finally replacing any remaining dots with dashes.\n  sourceName = domain\n    .replace(/^www\\./, '')\n    .replace(/\\.[^.]+$/, '') // removes the TLD\n    .replace(/\\./g, '-');\n}\n\nif (!sourceName) {\n    throw new Error(`Unknown source detected: ${domain}`);\n}\n\nreturn {\n  sourceName: sourceName,\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/AkOariu1C7YyUUMv.json\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        2464
      ],
      "id": "c8a05b21-f14c-461f-9155-9d9fe7568ca4",
      "name": "normalize_google_news_articles"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a082ec0-16b7-4d5b-832d-2609a06fae15",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "6838c8ba-c498-49f5-bb97-bee33f02dd20",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "13967cc2-74e2-445f-b88f-f15405cd89d8",
              "name": "authors",
              "value": "={{ $json.creator }}",
              "type": "string"
            },
            {
              "id": "a33938bc-1743-4e67-bdaf-c4c1d5bc3ce0",
              "name": "date",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "7edee0aa-3a35-41bf-b616-85246fed3436",
              "name": "publishedTimestamp",
              "value": "={{ $json.isoDate }}",
              "type": "string"
            },
            {
              "id": "a68bb301-94e1-414d-96f8-09f6453b45c1",
              "name": "sourceName",
              "value": "={{ $json.sourceName }}",
              "type": "string"
            },
            {
              "id": "00b19e33-754f-4347-a30a-bb33b3740919",
              "name": "feedType",
              "value": "={{ $json.feedType }}",
              "type": "string"
            },
            {
              "id": "24e1b6dc-81e2-4964-a56c-36ceccd9e1f2",
              "name": "feedUrl",
              "value": "={{ $json.feedUrl }}",
              "type": "string"
            },
            {
              "id": "b287462d-3fad-46a2-bc42-5aa98aa8bde3",
              "name": "uploadFileName",
              "value": "={{ \n  $json.isoDate.substring(0, 10) + \"/\" + \n  $json.title\n    .toLowerCase()\n    .replace(/[^a-z0-9 -]/g, '')  // remove characters outside a-z, 0-9, space, and dash\n    .trim()                      // remove any leading/trailing whitespace\n    .replace(/\\s+/g, '-')        // replace whitespace with dash\n    .replace(/-+/g, '-')         // collapse multiple dashes\n  + '.' + $json.sourceName \n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        1728
      ],
      "id": "f69769a5-62a6-44c7-8f03-49707aafa56d",
      "name": "get_identity",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "bucket",
        "operation": "search",
        "bucketName": "data-ingestion",
        "additionalFields": {
          "prefix": "={{ $json.uploadFileName }}"
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        2112,
        1728
      ],
      "id": "42ee74be-2ee9-411f-af76-90ed1e2ba08a",
      "name": "search_existing_resource",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "s3": {
          "id": "C389bH9jh7lpoj0B",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fbf2844d-f77e-4c7f-a223-42b674d3668c",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2400,
        1728
      ],
      "id": "d6aa5255-2408-4c4a-b7bd-5f1beaaf7de5",
      "name": "skip_existing_resources"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        2224
      ],
      "id": "7d5a60eb-1ac9-43e9-9262-b5672516e0d2",
      "name": "hacker_news_trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/v1.1/jf3MZ9ZlVZhrVEjD.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        2224
      ],
      "id": "fdbcb53d-173c-465e-a1fa-18f88105ea3e",
      "name": "fetch_hacker_news_feed"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        2464
      ],
      "id": "39b8a106-545c-45ca-9b8f-88457fde964a",
      "name": "split_google_news_items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        2224
      ],
      "id": "d14682ce-5a94-4124-94b5-cd429e397e55",
      "name": "split_hacker_news_items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22197457-7f84-4504-a14f-a5346a80359f",
              "leftValue": "={{ $('evaluate_content').item.json.output.is_revelant_content }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3952,
        1728
      ],
      "id": "919900ea-7867-42cf-b674-459047cecee5",
      "name": "ensure_revelant"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n        \"chainOfThought\": {\n          \"type\": \"string\",\n          \"description\": \"Sequential reasoning to determine if the provided content is a valid and relevant piece of content that an AI or tech enthusiast would be interested in reading and learning about.\"\n        },\n\t\t\"is_revelant_content\": {\n\t\t\t\"type\": \"boolean\",\n            \"description\": \"Indicator if the provided content is relevant piece of content to the AI industry.\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3632,
        2112
      ],
      "id": "b83be6ba-9bf4-4adb-aea5-bdadd5cb023b",
      "name": "is_revelant_content_parser"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Use a regex to extract the hostname.\n// The regex breakdown:\n// ^(?:https?:\\/\\/)?  --> Optionally match the protocol (http:// or https://)\n// (?:www\\.)?         --> Optionally match \"www.\"\n// ([^\\/]+)           --> Capture all characters until the first \"/\" (the hostname)\nconst match = $input.item.json.url.match(/^(?:https?:\\/\\/)?(?:www\\.)?([^\\/]+)/i);\n\nif (!match) {\n  throw new Error(\"Unable to regex match url\")\n}\n\nconst domain = match[1];\nconst sourceName = domain\n  .replace(/^www\\./, '')\n  .replace(/\\.[^.]+$/, '') // removes the TLD\n  .replace(/\\./g, '-');\n\nif (!sourceName) {\n    throw new Error(`Unknown source detected: ${domain}`);\n}\n\nreturn {\n  sourceName: sourceName,\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/AkOariu1C7YyUUMv.json\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        2224
      ],
      "id": "14ad4b51-baae-4c00-acb4-c8883b2f5bb0",
      "name": "normalize_hacker_news_articles"
    },
    {
      "parameters": {
        "text": "=You are given:\n\n1. **Content Website**: The domain hosting the content (e.g., `https://www.bloomberg.com/news/…`).  \n2. **Content Title and Body**: Text or markdown content extracted from a web page.  \n3. **Links Found on Content Page**: A list of hyperlinks that appear in or around the same article or page.\n\n## Your Task\n\n- Identify any **external source links** that are most relevant to the main topic of the content. It is possible there are NOT ANY good external source links.\n- **External** means the link must be on a domain *different* from the Content Website’s domain.\n- **Relevance** means it must directly reference a primary source (e.g., a product announcement, study, press release, etc.) that underpins the main topic.\n- **Exclude** links that are:\n  - On the same domain as the Content Website\n  - Generic homepages, profile pages, or unrelated side links\n  - Not clearly connected to the main focus of the article\n  - To storefront pages like eCommerce sites, to bookstore pages, to direct product listings, or other place to order a product directly.\n  - To shopping websites like bookstores and other retail stores.\n- If one or more valid external links exist, return them in a single comma-separated string as `external_source_urls`.\n- If no external links meet these criteria, omit the `external_source_urls` field entirely.\n\n## Output Format\n\n- Return only the answer in plain text.\n- Either:\n  1. `external_source_urls: <comma-separated list of valid external links>`\n  2. Omit the field if no valid external links exist.\n\n\n## Other Details\nIt is critical that your source link is relevant to the main content and would be useful context to evaluate when writing a newsletter overview about this content targeted towards AI enthusiasts and people interested in the AI space.\n\n---\n\n### Example Scenario\n\nIf the article is focused on an AI breakthrough from OpenAI and there is an external link to an official OpenAI product announcement hosted on openai.com, include that link (since it is on a *different* domain and relevant to the main topic). If all links point to the same domain or are irrelevant, do not return any `external_source_urls`.\n\n---\nContent Website:\n{{ $('scrape_url').item.json.data.metadata.url }}\n\n\nContent Title:\n{{ $('scrape_url').item.json.data.metadata.title }}\n\nContent:\n{{ $('scrape_url').item.json.data.json.content }}\n\nLinks Found on Content Page:\n{{ $('scrape_url').item.json.data.links.map(item => item.split(\"?\")[0]).join(\"\\n\") }}\n",
        "attributes": {
          "attributes": [
            {
              "name": "external_source_urls",
              "description": "Optional comma-separated values list of urls that are external sources referenced on this piece of content. The url here should NOT be on the same domain as the url of the main content piece, it should be an external url meaning another website. Make sure there is NOT a trailing comma after the last value."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        4240,
        1728
      ],
      "id": "4ae12738-6947-49ea-8fd7-2859e6049496",
      "name": "try_extract_external_sources",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/v1.1/F3rBf24jLxG6mNoJ.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        1984
      ],
      "id": "4023b226-7f8d-4529-b896-d52531e50c8f",
      "name": "fetch_reddit_artificial_inteligence_feed"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        1984
      ],
      "id": "71098052-63a0-4aac-a519-4aa0bef27a3d",
      "name": "split_reddit_artificial_inteligence_items"
    },
    {
      "parameters": {
        "operation": "get",
        "subreddit": "ArtificialInteligence",
        "postId": "={{ $json.url.match(/comments\\/([^/]+)/)[1] }}"
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        720,
        1984
      ],
      "id": "fbd45d23-908e-48f5-98e9-976e6e116336",
      "name": "get_reddit_artificial_inteligence_items",
      "credentials": {
        "redditOAuth2Api": {
          "id": "MYh4sl4UiIhrGvDb",
          "name": "Reddit account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "701be722-6eb4-48f5-bc12-ed858a58bce1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "7e9f6852-ccf6-488e-8019-899aaa1ef6ff",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "79bc5622-4063-48a8-835b-8b45746a7f2e",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1a4ca682-edac-47b1-8e84-dbaa3f79a819",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "reddit.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "f29b29c7-d183-450a-b9e6-b02635a2dead",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "youtube.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "ab07ea23-fe91-4669-8417-396fe65765bf",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "youtu.be",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "eb92ce45-bdb8-4e8e-bf6b-d3d27a3d9108",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "x.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "6f51a62d-08ca-4ef4-abf1-cb29f8b3734e",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "github.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "5ae77967-31a2-4f52-85c8-ee4b06c86fbf",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "i.redd.it",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "264842c1-8d69-4d4e-8c0b-0982cc9db627",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "=v.redd.it",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        944,
        1984
      ],
      "id": "02015cfb-fe80-4fcd-bb2e-ee395b6560c4",
      "name": "filter_reddit_artificial_inteligence_items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ecd02ccb-0790-44ab-8bb0-246881e35a20",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3232,
        1728
      ],
      "id": "f644567b-3dec-4c97-b52a-6c728605329b",
      "name": "filter_scrape_errors"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Use a regex to extract the hostname.\n// The regex breakdown:\n// ^(?:https?:\\/\\/)?  --> Optionally match the protocol (http:// or https://)\n// (?:www\\.)?         --> Optionally match \"www.\"\n// ([^\\/]+)           --> Capture all characters until the first \"/\" (the hostname)\nconst match = $input.item.json.url.match(/^(?:https?:\\/\\/)?(?:www\\.)?([^\\/]+)/i);\n\nif (!match) {\n  throw new Error(\"Unable to regex match url\")\n}\n\nconst domain = match[1];\nconst sourceName = domain\n  .replace(/^www\\./, '')\n  .replace(/\\.[^.]+$/, '') // removes the TLD\n  .replace(/\\./g, '-');\n\nif (!sourceName) {\n    throw new Error(`Unknown source detected: ${domain}`);\n}\n\nreturn {\n  sourceName: sourceName,\n  title: $input.item.json.title,\n  link: $input.item.json.url,\n  pubDate: new Date($input.item.json.created_utc * 1000).toISOString(),\n  isoDate: new Date($input.item.json.created_utc * 1000).toISOString(),\n  feedType: \"subreddit\",\n  feedUrl: \"https://rss.app/feeds/v1.1/AkOariu1C7YyUUMv.json\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        1984
      ],
      "id": "fc7c60e7-7d28-4141-92fe-c8d00c7fab65",
      "name": "normalize_reddit_artificial_inteligence_items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        1984
      ],
      "id": "859b0a38-c077-4c0e-81c3-1b685f4eceee",
      "name": "reddit_artificial_inteligence_trigger",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        1728
      ],
      "id": "043ee233-9c5b-4c29-9cc7-37335fc31891",
      "name": "reddit_open_ai_trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/v1.1/1LDBacY8BC2qJaZh.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        1728
      ],
      "id": "16a9d75e-4832-46d5-a0fb-a4261c7c016b",
      "name": "fetch_reddit_open_ai_feed"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        1728
      ],
      "id": "e664cba1-1ff9-4eb7-90e5-7f45d6dd8653",
      "name": "split_reddit_open_ai_items"
    },
    {
      "parameters": {
        "operation": "get",
        "subreddit": "OpenAI",
        "postId": "={{ $json.url.match(/comments\\/([^/]+)/)[1] }}"
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        720,
        1728
      ],
      "id": "88eeba57-329a-4d20-83c3-df1664f658b7",
      "name": "get_reddit_open_ai_items",
      "credentials": {
        "redditOAuth2Api": {
          "id": "MYh4sl4UiIhrGvDb",
          "name": "Reddit account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9743b6e1-a915-4a5c-b133-1e94d68e060d",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "7e9f6852-ccf6-488e-8019-899aaa1ef6ff",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "79bc5622-4063-48a8-835b-8b45746a7f2e",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1a4ca682-edac-47b1-8e84-dbaa3f79a819",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "reddit.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "f29b29c7-d183-450a-b9e6-b02635a2dead",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "youtube.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "ab07ea23-fe91-4669-8417-396fe65765bf",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "youtu.be",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "eb92ce45-bdb8-4e8e-bf6b-d3d27a3d9108",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "x.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "6f51a62d-08ca-4ef4-abf1-cb29f8b3734e",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "github.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "3edaa177-9a40-41de-bcc2-fe248a777626",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "i.redd.it",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "13ab666b-fcbf-4798-b3f6-f74079b8f6fa",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "v.redd.it",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        944,
        1728
      ],
      "id": "215aa8d0-f553-4490-bf1d-39d538c617a9",
      "name": "filter_reddit_open_ai_items"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Use a regex to extract the hostname.\n// The regex breakdown:\n// ^(?:https?:\\/\\/)?  --> Optionally match the protocol (http:// or https://)\n// (?:www\\.)?         --> Optionally match \"www.\"\n// ([^\\/]+)           --> Capture all characters until the first \"/\" (the hostname)\nconst match = $input.item.json.url.match(/^(?:https?:\\/\\/)?(?:www\\.)?([^\\/]+)/i);\n\nif (!match) {\n  throw new Error(\"Unable to regex match url\")\n}\n\nconst domain = match[1];\nconst sourceName = domain\n  .replace(/^www\\./, '')\n  .replace(/\\.[^.]+$/, '') // removes the TLD\n  .replace(/\\./g, '-');\n\nif (!sourceName) {\n    throw new Error(`Unknown source detected: ${domain}`);\n}\n\nreturn {\n  sourceName: sourceName,\n  title: $input.item.json.title,\n  link: $input.item.json.url,\n  pubDate: new Date($input.item.json.created_utc * 1000).toISOString(),\n  isoDate: new Date($input.item.json.created_utc * 1000).toISOString(),\n  feedType: \"subreddit\",\n  feedUrl: \"https://rss.app/feeds/v1.1/1LDBacY8BC2qJaZh.json\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        1728
      ],
      "id": "539ac88a-2bb1-4802-9608-5659411ecf7e",
      "name": "normalize_reddit_open_ai_items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        1472
      ],
      "id": "c5534fef-4371-49aa-943f-77f7bfab1814",
      "name": "reddit_artificial_trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/v1.1/upLgfm9lv7RXwzes.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        1472
      ],
      "id": "957b412d-d303-416d-862f-fdbbbf986c55",
      "name": "fetch_reddit_artificial_feed"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        1472
      ],
      "id": "a753207a-28d9-4906-a206-dc755e4bd5ca",
      "name": "split_reddit_artificial_items"
    },
    {
      "parameters": {
        "operation": "get",
        "subreddit": "artificial",
        "postId": "={{ $json.url.match(/comments\\/([^/]+)/)[1] }}"
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        720,
        1472
      ],
      "id": "2aa9267e-f7bf-455a-a2de-a66f51002c0a",
      "name": "get_reddit_artificial_items",
      "credentials": {
        "redditOAuth2Api": {
          "id": "MYh4sl4UiIhrGvDb",
          "name": "Reddit account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c525d94-7ad5-49ef-b5cd-f149992e85cd",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "7e9f6852-ccf6-488e-8019-899aaa1ef6ff",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "79bc5622-4063-48a8-835b-8b45746a7f2e",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1a4ca682-edac-47b1-8e84-dbaa3f79a819",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "reddit.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "f29b29c7-d183-450a-b9e6-b02635a2dead",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "youtube.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "ab07ea23-fe91-4669-8417-396fe65765bf",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "youtu.be",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "eb92ce45-bdb8-4e8e-bf6b-d3d27a3d9108",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "x.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "6f51a62d-08ca-4ef4-abf1-cb29f8b3734e",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "github.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "3edaa177-9a40-41de-bcc2-fe248a777626",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "i.redd.it",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "13ab666b-fcbf-4798-b3f6-f74079b8f6fa",
              "leftValue": "={{ $json.url_overridden_by_dest }}",
              "rightValue": "v.redd.it",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        944,
        1472
      ],
      "id": "2396cc70-8791-4542-ba8d-c63ab2c4bf29",
      "name": "filter_reddit_artificial_items"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Use a regex to extract the hostname.\n// The regex breakdown:\n// ^(?:https?:\\/\\/)?  --> Optionally match the protocol (http:// or https://)\n// (?:www\\.)?         --> Optionally match \"www.\"\n// ([^\\/]+)           --> Capture all characters until the first \"/\" (the hostname)\nconst match = $input.item.json.url.match(/^(?:https?:\\/\\/)?(?:www\\.)?([^\\/]+)/i);\n\nif (!match) {\n  throw new Error(\"Unable to regex match url\")\n}\n\nconst domain = match[1];\nconst sourceName = domain\n  .replace(/^www\\./, '')\n  .replace(/\\.[^.]+$/, '') // removes the TLD\n  .replace(/\\./g, '-');\n\nif (!sourceName) {\n    throw new Error(`Unknown source detected: ${domain}`);\n}\n\nreturn {\n  sourceName: sourceName,\n  title: $input.item.json.title,\n  link: $input.item.json.url,\n  pubDate: new Date($input.item.json.created_utc * 1000).toISOString(),\n  isoDate: new Date($input.item.json.created_utc * 1000).toISOString(),\n  feedType: \"subreddit\",\n  feedUrl: \"https://rss.app/feeds/v1.1/upLgfm9lv7RXwzes.json\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        1472
      ],
      "id": "6f908d63-3dda-4785-8c0c-acc4e430a8e5",
      "name": "normalize_reddit_artificial_items"
    },
    {
      "parameters": {
        "content": "## Web Content",
        "height": 3960,
        "width": 5380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "913e3a92-157b-495a-902f-c5b19ab4936f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        1232
      ],
      "id": "0c79bfc0-8de6-456f-a36a-aeecac99127c",
      "name": "blog_meta_ai_trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/v1.1/zqVI3dZrdbmZjbR8.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        1232
      ],
      "id": "296eb46f-c063-42ff-b041-1263cf66d29a",
      "name": "fetch_blog_meta_ai_feed"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        1232
      ],
      "id": "1c52ad6c-3c66-4668-8b0d-b210deed408a",
      "name": "split_blog_meta_ai_items"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  sourceName: \"blog-meta\",\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/zqVI3dZrdbmZjbR8.json\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        1232
      ],
      "id": "489bc687-c835-45f4-9482-633700b7d8d4",
      "name": "normalize_blog_meta_ai_articles"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        992
      ],
      "id": "be3fd2c8-11ff-4ac5-b063-ee76c8210101",
      "name": "blog_cloudflare_ai_trigger",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        992
      ],
      "id": "0d1e9b6b-eed7-40fc-b270-99882ad2e5dc",
      "name": "split_blog_cloudflare_ai_items"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  sourceName: \"blog-cloudflare\",\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/iLzlJfBHVV0phe2n.json\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        992
      ],
      "id": "6c21889e-ba65-4c4e-b944-af2e7ed0848f",
      "name": "normalize_blog_cloudflare_ai_articles"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        768
      ],
      "id": "d4a91b60-73db-410d-8584-a8ae2e6e2667",
      "name": "blog_anthropic_ai_trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/v1.1/iLzlJfBHVV0phe2n.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        992
      ],
      "id": "b9140b8f-2504-4a95-9cfe-a9d11372de52",
      "name": "fetch_blog_cloudflare_ai_feed"
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/v1.1/OFdSUsziElw0rkpx.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        768
      ],
      "id": "c11118fb-4091-465b-b408-a0d451f4c9ca",
      "name": "fetch_blog_anthropic_ai_feed"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        768
      ],
      "id": "57c4b60c-0088-41f0-bfb5-3ea395808bc3",
      "name": "split_blog_anthropic_ai_items"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  sourceName: \"blog-anthropic\",\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/OFdSUsziElw0rkpx.json\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        768
      ],
      "id": "c15d45bf-7802-4353-a52c-f2a68fd1bd63",
      "name": "normalize_blog_anthropic_ai_articles"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        544
      ],
      "id": "c2a2121a-2494-415e-82f1-6893d6cba092",
      "name": "blog_google_ai_trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/v1.1/2CtvCsOtZS35jJgp.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        544
      ],
      "id": "33b9ec63-4180-4266-94fe-4bb1aed786d0",
      "name": "fetch_blog_google_ai_feed"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        544
      ],
      "id": "6022a03a-7083-47fb-9899-8d6b35e73193",
      "name": "split_blog_google_ai_items"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  sourceName: \"blog-google\",\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/2CtvCsOtZS35jJgp.json\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        544
      ],
      "id": "f2f151a2-af52-4abb-8743-85092ef692be",
      "name": "normalize_blog_google_ai_articles"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        320
      ],
      "id": "38d03c3e-a25c-4e2e-96de-f7249a2faaab",
      "name": "blog_open_ai_trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/v1.1/6BnoYYEtnCHXfHj0.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        320
      ],
      "id": "ec722078-2709-4990-8d97-d1247d922902",
      "name": "fetch_blog_open_ai_feed"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  sourceName: \"blog-open-ai\",\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/6BnoYYEtnCHXfHj0.json\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        320
      ],
      "id": "489e2fd9-5f28-425f-b720-31572203e04c",
      "name": "normalize_blog_open_ai_articles"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        320
      ],
      "id": "a2c2c4b4-7171-49ec-bf5a-cc5a97bdfb59",
      "name": "split_blog_open_ai_items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        112
      ],
      "id": "a2c84d34-97a3-4dbe-a5bb-e221d9c4d083",
      "name": "blog_nvidia_ai_trigger",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://rss.app/feeds/v1.1/rXJrh1u8zDwJLUJK.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        112
      ],
      "id": "5ed11504-07fd-47d2-a255-f450b4199b86",
      "name": "fetch_blog_nvidia_ai_feed"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        512,
        112
      ],
      "id": "c4b5bae6-3e43-4f2e-a43d-a5bef5909ea6",
      "name": "split_blog_nvidia_ai_items"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  sourceName: \"blog-nvidia-ai\",\n  title: $input.item.json.title,\n  creator: $input.item.json.authors[0]?.name,\n  link: $input.item.json.url,\n  pubDate: $input.item.json.date_published,\n  isoDate: $input.item.json.date_published,\n  feedType: \"article\",\n  feedUrl: \"https://rss.app/feeds/v1.1/rXJrh1u8zDwJLUJK.json\"\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        112
      ],
      "id": "f28f5f8c-779c-4337-959b-f847d68db2c6",
      "name": "normalize_blog_nvidia_ai_articles"
    },
    {
      "parameters": {
        "amount": 180
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2688,
        1728
      ],
      "id": "40e17e64-f0aa-4e5c-bfff-e1418e21b84b",
      "name": "delay",
      "webhookId": "ea003ac0-5583-4e8d-812a-c9dd73c09cf4"
    },
    {
      "parameters": {
        "model": "openai/o3-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatVercelAiGateway",
      "typeVersion": 1,
      "position": [
        3920,
        2112
      ],
      "id": "f3292919-bc39-4afe-ba71-ca0aae4d1871",
      "name": "Vercel AI Gateway (o3-mini)",
      "credentials": {
        "vercelAiGatewayApi": {
          "id": "0JivGm7k1oIVTtQS",
          "name": "Vercel AI Gateway account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "metadata",
        "fileName": "={{ $('get_identity').item.json.uploadFileName + \".md\" }}",
        "binaryData": false,
        "fileContent": "={\n  \"srcKey\": \"{{ $('get_identity').item.json.uploadFileName + '.md' }}\",\n  \"dstKey\": \"{{ $('get_identity').item.json.uploadFileName + '.md' }}\",\n  \"newContentType\": \"application/vnd.aitools.{{ $('get_identity').item.json.feedType }}+md\",\n  \"newMetadata\": {\n    \"key\": \"{{ $('get_identity').item.json.uploadFileName + '.md' }}\",\n    \"type\": \"{{ $('get_identity').item.json.feedType }}\",\n    \"title\": {{ JSON.stringify($('get_identity').item.json.title) }},\n    \"authors\": {{ JSON.stringify($('get_identity').item.json.authors ?? \"\") }},\n    \"source-name\": \"{{ $('get_identity').item.json.sourceName }}\",\n    \"external-source-urls\": {{ JSON.stringify($('try_extract_external_sources').item.json.output.external_source_urls ?? \"\") }},\n    \"image-urls\": {{ JSON.stringify($('scrape_url').item.json.data.json.main_content_image_urls.join(\",\")) }},\n    \"url\": \"{{ $('get_identity').item.json.url }}\",\n    \"timestamp\": \"{{ $('get_identity').item.json.publishedTimestamp }}\",\n    \"feed-url\": \"{{ $('get_identity').item.json.feedUrl }}\"\n  }\n}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        4944,
        1568
      ],
      "id": "3bc5c80f-6aac-4271-b4fd-60915f2e2e0e",
      "name": "upload_temp_metadata_md",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "s3": {
          "id": "C389bH9jh7lpoj0B",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "metadata",
        "fileName": "={{ $('get_identity').item.json.uploadFileName + \".html\" }}",
        "binaryData": false,
        "fileContent": "={\n  \"srcKey\": \"{{ $('get_identity').item.json.uploadFileName + '.html' }}\",\n  \"dstKey\": \"{{ $('get_identity').item.json.uploadFileName + '.html' }}\",\n  \"newContentType\": \"application/vnd.aitools.{{ $('get_identity').item.json.feedType }}.raw+html\",\n  \"newMetadata\": {\n    \"key\": \"{{ $('get_identity').item.json.uploadFileName + '.md' }}\",\n    \"type\": \"{{ $('get_identity').item.json.feedType }}\",\n    \"title\": {{ JSON.stringify($('get_identity').item.json.title) }},\n    \"authors\": {{ JSON.stringify($('get_identity').item.json.authors ?? \"\") }},\n    \"source-name\": \"{{ $('get_identity').item.json.sourceName }}\",\n    \"external-source-urls\": {{ JSON.stringify($('try_extract_external_sources').item.json.output.external_source_urls ?? \"\") }},\n    \"image-urls\": {{ JSON.stringify($('scrape_url').item.json.data.json.main_content_image_urls.join(\",\")) }},\n    \"url\": \"{{ $('get_identity').item.json.url }}\",\n    \"timestamp\": \"{{ $('get_identity').item.json.publishedTimestamp }}\",\n    \"feed-url\": \"{{ $('get_identity').item.json.feedUrl }}\"\n  }\n}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        4960,
        1888
      ],
      "id": "dd235e37-eaad-4def-a465-bdb8c046c4e6",
      "name": "upload_temp_metadata_html",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "s3": {
          "id": "C389bH9jh7lpoj0B",
          "name": "S3 account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "the_neuron_trigger": {
      "main": [
        [
          {
            "node": "normalize_neuron",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "futurepedia_trigger": {
      "main": [
        [
          {
            "node": "normalize_futurepedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "superhuman_trigger": {
      "main": [
        [
          {
            "node": "normalize_superhuman",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scrape_url": {
      "main": [
        [
          {
            "node": "filter_scrape_errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "evaluate_content": {
      "main": [
        [
          {
            "node": "ensure_revelant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_neuron": {
      "main": [
        [
          {
            "node": "get_identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_futurepedia": {
      "main": [
        [
          {
            "node": "get_identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_superhuman": {
      "main": [
        [
          {
            "node": "get_identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "the_rundown_ai_trigger": {
      "main": [
        [
          {
            "node": "normalize_the_rundown_ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_the_rundown_ai": {
      "main": [
        [
          {
            "node": "get_identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "taaft_trigger": {
      "main": [
        [
          {
            "node": "normalize_taaft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_taaft": {
      "main": [
        [
          {
            "node": "get_identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bens_bites_trigger": {
      "main": [
        [
          {
            "node": "normalize_bens_bites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_bens_bites": {
      "main": [
        [
          {
            "node": "get_identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload_temp_markdown": {
      "main": [
        [
          {
            "node": "upload_temp_metadata_md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload_temp_html": {
      "main": [
        [
          {
            "node": "upload_temp_metadata_html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "google_news_trigger": {
      "main": [
        [
          {
            "node": "fetch_google_news_feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_google_news_feed": {
      "main": [
        [
          {
            "node": "split_google_news_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_identity": {
      "main": [
        [
          {
            "node": "search_existing_resource",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_google_news_articles": {
      "main": [
        []
      ]
    },
    "search_existing_resource": {
      "main": [
        [
          {
            "node": "skip_existing_resources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "skip_existing_resources": {
      "main": [
        [
          {
            "node": "delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hacker_news_trigger": {
      "main": [
        [
          {
            "node": "fetch_hacker_news_feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_google_news_items": {
      "main": [
        [
          {
            "node": "normalize_google_news_articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_hacker_news_feed": {
      "main": [
        [
          {
            "node": "split_hacker_news_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ensure_revelant": {
      "main": [
        [
          {
            "node": "try_extract_external_sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is_revelant_content_parser": {
      "ai_outputParser": [
        [
          {
            "node": "evaluate_content",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "split_hacker_news_items": {
      "main": [
        [
          {
            "node": "normalize_hacker_news_articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_hacker_news_articles": {
      "main": [
        [
          {
            "node": "get_identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "try_extract_external_sources": {
      "main": [
        [
          {
            "node": "upload_temp_markdown",
            "type": "main",
            "index": 0
          },
          {
            "node": "upload_temp_html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_reddit_artificial_inteligence_feed": {
      "main": [
        [
          {
            "node": "split_reddit_artificial_inteligence_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_reddit_artificial_inteligence_items": {
      "main": [
        [
          {
            "node": "get_reddit_artificial_inteligence_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_reddit_artificial_inteligence_items": {
      "main": [
        [
          {
            "node": "filter_reddit_artificial_inteligence_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter_reddit_artificial_inteligence_items": {
      "main": [
        [
          {
            "node": "normalize_reddit_artificial_inteligence_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter_scrape_errors": {
      "main": [
        [
          {
            "node": "evaluate_content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_reddit_artificial_inteligence_items": {
      "main": [
        []
      ]
    },
    "reddit_artificial_inteligence_trigger": {
      "main": [
        [
          {
            "node": "fetch_reddit_artificial_inteligence_feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reddit_open_ai_trigger": {
      "main": [
        [
          {
            "node": "fetch_reddit_open_ai_feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_reddit_open_ai_feed": {
      "main": [
        [
          {
            "node": "split_reddit_open_ai_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_reddit_open_ai_items": {
      "main": [
        [
          {
            "node": "get_reddit_open_ai_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_reddit_open_ai_items": {
      "main": [
        [
          {
            "node": "filter_reddit_open_ai_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter_reddit_open_ai_items": {
      "main": [
        [
          {
            "node": "normalize_reddit_open_ai_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_reddit_open_ai_items": {
      "main": [
        []
      ]
    },
    "reddit_artificial_trigger": {
      "main": [
        [
          {
            "node": "fetch_reddit_artificial_feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_reddit_artificial_feed": {
      "main": [
        [
          {
            "node": "split_reddit_artificial_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_reddit_artificial_items": {
      "main": [
        [
          {
            "node": "get_reddit_artificial_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_reddit_artificial_items": {
      "main": [
        [
          {
            "node": "filter_reddit_artificial_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter_reddit_artificial_items": {
      "main": [
        [
          {
            "node": "normalize_reddit_artificial_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_reddit_artificial_items": {
      "main": [
        []
      ]
    },
    "blog_meta_ai_trigger": {
      "main": [
        [
          {
            "node": "fetch_blog_meta_ai_feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_blog_meta_ai_feed": {
      "main": [
        [
          {
            "node": "split_blog_meta_ai_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_blog_meta_ai_items": {
      "main": [
        [
          {
            "node": "normalize_blog_meta_ai_articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_blog_meta_ai_articles": {
      "main": [
        [
          {
            "node": "get_identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blog_cloudflare_ai_trigger": {
      "main": [
        [
          {
            "node": "fetch_blog_cloudflare_ai_feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_blog_cloudflare_ai_items": {
      "main": [
        [
          {
            "node": "normalize_blog_cloudflare_ai_articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_blog_cloudflare_ai_articles": {
      "main": [
        []
      ]
    },
    "blog_anthropic_ai_trigger": {
      "main": [
        [
          {
            "node": "fetch_blog_anthropic_ai_feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_blog_cloudflare_ai_feed": {
      "main": [
        [
          {
            "node": "split_blog_cloudflare_ai_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_blog_anthropic_ai_feed": {
      "main": [
        [
          {
            "node": "split_blog_anthropic_ai_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_blog_anthropic_ai_items": {
      "main": [
        [
          {
            "node": "normalize_blog_anthropic_ai_articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_blog_anthropic_ai_articles": {
      "main": [
        []
      ]
    },
    "blog_google_ai_trigger": {
      "main": [
        [
          {
            "node": "fetch_blog_google_ai_feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_blog_google_ai_feed": {
      "main": [
        [
          {
            "node": "split_blog_google_ai_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_blog_google_ai_items": {
      "main": [
        [
          {
            "node": "normalize_blog_google_ai_articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_blog_google_ai_articles": {
      "main": [
        []
      ]
    },
    "blog_open_ai_trigger": {
      "main": [
        [
          {
            "node": "fetch_blog_open_ai_feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_blog_open_ai_feed": {
      "main": [
        [
          {
            "node": "split_blog_open_ai_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_blog_open_ai_items": {
      "main": [
        [
          {
            "node": "normalize_blog_open_ai_articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_blog_open_ai_articles": {
      "main": [
        []
      ]
    },
    "blog_nvidia_ai_trigger": {
      "main": [
        [
          {
            "node": "fetch_blog_nvidia_ai_feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch_blog_nvidia_ai_feed": {
      "main": [
        [
          {
            "node": "split_blog_nvidia_ai_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_blog_nvidia_ai_items": {
      "main": [
        [
          {
            "node": "normalize_blog_nvidia_ai_articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize_blog_nvidia_ai_articles": {
      "main": [
        []
      ]
    },
    "delay": {
      "main": [
        [
          {
            "node": "scrape_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vercel AI Gateway (o3-mini)": {
      "ai_languageModel": [
        [
          {
            "node": "evaluate_content",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "try_extract_external_sources",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "faafc0f1-1eac-47d4-aedd-a2540cca2074",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af69c48c791b58e55f2057e750c304fa2362abed4aaa6d19c41bf907e1e209e5"
  },
  "id": "IPU3x5GWI6CbEYFk",
  "tags": [
    {
      "createdAt": "2025-08-14T01:42:07.609Z",
      "updatedAt": "2025-08-14T01:42:07.609Z",
      "id": "m1xPlEPxCmv1Vi1v",
      "name": "Entrypoint"
    }
  ]
}